<ion-view title="grambler">
	<ion-pane ng-controller="MainCtrl as app">
		<ion-header-bar class="bar-positive">
			<h1	class="title">grambler anagrams</h1>
		</ion-header-bar>

		<ion-content>
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" ng-model="app.word" ng-keypress="app.keyPress($event)"
						 autocorrect="off" autocapitalize="off" placeholder="word to scramble" />
				</label>
				<button class="button button-small button-positive" ng-click="app.scramble()">submit</button>
			</div>
			<div class="padding">
				<div ng-repeat="anagram in app.anagrams" ng-bind="anagram.word"></div>
			</div>
		</ion-content>

		<ion-footer-bar	class="bar-stable">
			<div class="button-bar">
				<button	class="button button-assertive button-outline icon-left ion-trash-b" ng-click="app.clear()">clear</button>
				<button	class="button button-stable icon-left ion-information-circled" ng-click="app.toAbout()">about</button>
				<!-- <button class="button button-positive button-outline icon-left ion-folder">SAVE</button> -->
			</div>
		</ion-footer-bar>
	</ion-pane>
</ion-view>
